*.o
*.tgz
*.zip
*.orig
*.rej
*.log
*.out
*~
#*
NOTE*
jjove
jjove_*
portsrv
portsrv_*
recover
recover_*
setmaps
keys.c
paths.h
doc/cmds.txt
doc/jove.txt
doc/jove.man*
doc/*.1
doc/jove.rc
xjove/jovetool
xjove/xjove
xjove/*.o
.filelist
.version
xjove/.filelist
jove.spec
dmk*
tags
DIST
