*.o
*.tgz
*.orig
*.rej
jjove*
portsrv
recover
setmaps
teachjove
keys.c
paths.h
doc/cmds.doc
doc/jove.doc
doc/jove.man*
doc/*.1
doc/jove.rc
xjove/jovetool
xjove/xjove
xjove/*.o
.filelist
xjove/.filelist
jove.spec
dmk
tags
