# Jove Einsteiger Menue (Beginner mode help window, some easy bindings)
# adopted from Debian package (original by Gerold Meerkoetter)
#
####################################################################
# Macro definitions
#
define-macro help-window ^[xselect-buffer *hilfe*^M^[xpushlibd^M^[xinsert-file jem.txt^M^[xmake-buffer-unmodified^M^[xread-only-mode^M^[xwindow-find^Mb^M^[7^[xgrow-window^M^[xpopd^M
#
define-macro save-and-exit ^[xsave-file^M^[xexit-jove^M
#
define-macro abort-jove ^[xmake-buffer-unmodified^M^[xexit-jove^My^M
#
####################################################################
# functionkeys for vt100, these are always defined
#
# F1
bind-macro-to-key save-and-exit OP
# F2
bind-to-key save-file OQ
# F3
bind-to-key teach-jove OR
# F4
bind-macro-to-key abort-jove OS
#
####################################################################
#
# functionkeys for xterm
ifenv TERM xterm\|xterms
    # F1
    bind-macro-to-key save-and-exit [11~
    # F2
    bind-to-key save-file [12~
    # F3
    bind-to-key teach-jove [13~
    # F4
    bind-macro-to-key abort-jove [14~
endif
####################################################################
# funktionkeys for sun / sun-cmd
#
ifenv TERM sun\|sun-cmd
    # F1
    bind-macro-to-key save-and-exit [224z
    # F2
    bind-to-key save-file [225z
    # F3
    bind-to-key teach-jove [226z
    # F4
    bind-macro-to-key abort-jove [227z
endif
#
define-macro help-window ^[xselect-buffer *hilfe*^M^[xpushlibd^M^[xinsert-file jem.txt^M^[xmake-buffer-unmodified^M^[xread-only-mode^M^[xwindow-find^Mb^M^[7^[xgrow-window^M^[xpopd^M
execute-macro help-window
