#!/bin/sh

set -e

# We need debconf.
. /usr/share/debconf/confmodule

go=0

if [ -f /etc/jove.rc ]
then
  if [ ! -f /etc/jove/jove.rc ]
  then
    db_input high jove/upgradewarn-1 || true
    mkdir /etc/jove  
    mv /etc/jove.rc /etc/jove/jove.rc
  else
    db_input high jove/upgradewarn-2 || true
    mv /etc/jove.rc /etc/jove/jove.rc.old
  fi
fi

exit 0
